Options +FollowSymLinks
RewriteEngine on
RewriteRule ^(src/|submit\.php) - [F,L,NC]
RewriteRule ^(core/|submit\.php) - [F,L,NC]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

ErrorDocument 403 "https://localhost/backend/error/403"
ErrorDocument 404 "https://localhost/backend/error/404"

RewriteRule ^(.*)$ index.php/$1